@page "/login"
@inject ILoginService loginservice
@layout TopLayout
<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Faculty</b>Login</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form>
                    <div class="input-group mb-3">
                        <input type="email" @bind="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" @bind="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                   
                </form>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <button  class="btn btn-block btn-primary" type="button" @onclick="Authenticate">
                      Login
                    </button>
                    @message
                    <a href="/registration" class="btn btn-block btn-danger">
                      Create An Account
                    </a>
                </div>
             

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
               
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@* <style>
    
    
    .background-image {
        height: 100vh;
        position: relative;
        overflow: hidden !important
    }

    .card {
        background-color: rgba(255, 255, 255, 0.8) !important; 
        border-radius: 1rem;
    }

    .background-image::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px);
        z-index: -1; /* Place it behind the other content */
    }

    .custom-card-shadow {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    }
</style>

<section class="vh-30 background-image mt-5 py-5 ">
    <div class="container py-5 vh-30">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-10">
                <div class="mt-5"></div>

                <div class="card shadow  bg-body rounded border border-primary mt-2 shadow-lg p-3 mb-5 bg-body rounded" style="border-radius: 1rem; ">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://play-lh.googleusercontent.com/w5SIprU1doxk7fpsvtD_Qf7SqsRwROLfBSR34sitCpZW8x5vwnKcK4gmohJq5F0PPVw"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-lg-5 text-black">


                                <form>

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                       
                                     
                                            <span class="h1 fw-bold mb-0">Faculty Portal</span>
                                      
                                    </div>

                                    <h3 class="fw-normal mb-3 pb-3 justify-content-center align-content-center " style="letter-spacing: 1px;"><b>Login with us!  </b></h3>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example17">Email address</label>
                                        <input type="email" id="form2Example17" placeholder="Enter Email" class="form-control form-control-lg border border-primary"  @bind="Email"/>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example27">Password</label>
                                        <input type="password" id="form2Example27" placeholder="Enter Password" class="form-control form-control-lg border border-primary"  @bind="Password"/>

                                    </div>


                                    <div class="pt-1 mb-4 mt-2">
                                        <div class="d-flex justify-content-center align-content-center">
                                            <button style="width: 166px;height: 35px;" type="button" class="btn btn-primary" @onclick="Authenticate">
                                                <span class="fw-bold">LOGIN</span>
                                            </button>
                                        </div>
                                    </div>



                                    <div class="pt-1 mt-2">
                                        <div class="d-flex justify-content-center align-content-center">
                                           
                                            <a href="/registration" style="width: 166px;height: 35px;" class="btn btn-outline-primary">REGISTER</a>
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
@code {

    public string? Email { get; set; }
    public string? Password { get; set; }
    public string? Name { get; set; }
    public string? message { get; set; }


    EntRegistration User = new EntRegistration();

    private async Task GetLoginFromDb()
    {
        SqlParameter[] sp =
        {
                new SqlParameter("@Email",Email),
                new SqlParameter("@Password", Password)

    };

        User = await loginservice.GetLogin(Email, Password);
    }


    private async Task Authenticate()
    {
        await GetLoginFromDb();

        if (User!=null)
        {
            if (User.EmailVerified == "true")
            {


                var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
                await customAuthStateProvider.UpdateAuthenticationState(new EntRegistration
                    {

                        Role = "Admin",
                        UserID = User.UserID
                    });

                navManager.NavigateTo("landingpage", true);
            }
            else
            {
                message = "Please Verify the email first";
            }
        }
        else
        {
            await js.InvokeVoidAsync("alert", "invalid username or password");
            return;
        }
    }


}


